In [1]:
import pandas as pd

In [3]:
cars=pd.read_csv('c:/Users/igor/Downloads/Data-Sets-ML/usedcars.csv')
cars.head()

   year model  price  mileage   color transmission
0  2011   SEL  21992     7413  Yellow         AUTO
1  2011   SEL  20995    10926    Gray         AUTO
2  2011   SEL  19995     7351  Silver         AUTO
3  2011   SEL  17809    11613    Gray         AUTO
4  2012    SE  17500     8367   White         AUTO

In [4]:
# CHECK HOW MANY CARS BELONG TO EACH MODEL SESSION 64 CATHEGORICAL VS CONTINUOUS
cars.model.value_counts()

SE     78
SES    48
SEL    24
Name: model, dtype: int64

In [7]:
# COUNT CAR COLOR FROM ASCENDING ORDER
cars.color.value_counts(ascending=True)

Gold       1
Yellow     3
Green      5
Gray      16
White     16
Blue      17
Red       25
Silver    32
Black     35
Name: color, dtype: int64

In [8]:
cars.year.value_counts()

2010    49
2009    42
2011    16
2008    14
2007    11
2006     6
2004     3
2000     3
2005     2
2012     1
2003     1
2002     1
2001     1
Name: year, dtype: int64

In [9]:
cars.mileage.value_counts()

7413      1
35871     1
36323     1
39211     1
44789     1
         ..
36447     1
35318     1
24929     1
23785     1
109259    1
Name: mileage, Length: 150, dtype: int64

In [13]:
cars.color.value_counts()

Black     35
Silver    32
Red       25
Blue      17
Gray      16
White     16
Green      5
Yellow     3
Gold       1
Name: color, dtype: int64

In [12]:
cars.shape

(150, 6)

In [14]:
35/150

0.23333333333333334

In [15]:
# CALCULATE PERCENTAGE OF MODEL USING NORMALIZE()
cars.color.value_counts(normalize=True)

Black     0.233333
Silver    0.213333
Red       0.166667
Blue      0.113333
Gray      0.106667
White     0.106667
Green     0.033333
Yellow    0.020000
Gold      0.006667
Name: color, dtype: float64